<div id="homeContainer" class="container">
    <!-- left top container-->
    <section id="picture">
        <article>
            <h1>Kyle Duffy</h1>
            <img src="/Assets/recentphoto.png" alt="">
        </article>
        <article>
            <p>Welcome to my portfolio.<br><br>Feel free to have a look around <br><br>If you have any questions feel free to reach out.</p>
        </article>
    </section>
    <!-- top right 3 cards container-->

    <section class="card" id="aboutLink">
        <h2 class="cardTitle">A Quick Bio</h2>
        <p>If you're looking for more information about me, check out the
            <a href="#" data-linkId="About">About Me</a> page.</p>
    </section>
    <section class="card" id="projects">
        <h2 class="cardTitle">What can I do?</h2>
        <p>If you want more information on the areas and types of technology I work with head over to the
            <a href="#" data-linkId="Services">Services</a> page.</p>

    </section>
    <section class="card" id="services">
        <h2 class="cardTitle">What have I done?</h2>
        <p>If you'd like to see some of the prior projects I've worked on head over to my
            <a href="#" data-linkId="Projects">Projects</a> page and check some of them out!</p>
    </section>
    <!-- bottom Row container-->

    <section id="contact">
        <p>If you're looking to get in touch, head over to the <a href="#" data-linkId="Contact">Contact Me</a> page and you'll find various ways to get ahold of me.
        </p>
    </section>

</div>